<div class="col-xs-12">
    <a class="btn btn-warning pull-right" id="btn-admin" href="/admin/login"><i class="fa fa-2x fa-cog" aria-hidden="true"></i></a>
</div>
<div class="container">
    <h1 class="text-center">
        <img src="/img/logo.png" width="200" height="200">
    </h1>
    <div class="row">
        <a class="col-xs-5 text-right btn btn-primary" href="/capsule" id="go-scan" >Sélectionner capsule</a>
        <a class="col-xs-5 text-left btn btn-primary" href="/inscription" id="go-signin">S'incrire</a>
    </div>
</div>
