<div class="container">
    <h1 class="text-center">Choisir une capsule</h1>

    <div class="row" style="margin-top: 30px;">
        <div class="col-xs-6 text-center">
            <a href="/capsule/1">
                <img src="/img/capsule-1.png" width="200" height="100">
                <h3 style="margin: 0">Café</h3>
            </a>
        </div>
        <div class="col-xs-6 text-center">
            <a href="/capsule/2">
                <img src="/img/capsule-2.png" width="200" height="100">
                <h3 style="margin: 0">Déca</h3>
            </a>
        </div>
    </div>

    <div class="pull-left" style="margin-top: 35px">
        <a class="btn btn-info" href="/">Retour</a>
    </div>
</div>
